<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<table style="width:100%">
  <tr>
    <th>name</th>
    <th>email</th>
    <th>age</th>
    <th>city</th>
    <th>profession</th>
  </tr>

    <% users.forEach( user => { %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.city %></td>
        <td><%= user.profession %></td>
    </tr>
   <% })%>
</table>
<a href = "/form"> Add user </a>
</body>
</html>

